.DS_Store
*.zip
*.gz
*.suo
*.user

projects/visual-studio/.vs
projects/visual-studio/ipch
bin
tmp

projects/eclipse-workspace/.metadata
projects/eclipse-workspace/.metadata2
projects/eclipse-workspace/lib-auframework/Debug

projects/momentics-workspace/.metadata

xcshareddata
projects/xcode/lib-auframework.xcworkspace/xcuserdata
projects/xcode/lib-auframework/lib-auframework copia.xcodeproj
projects/xcode/lib-auframework/lib-auframework.xcodeproj/xcuserdata
projects/xcode/lib-auframework/lib-auframework.xcodeproj/project.xcworkspace/xcuserdata

projects/android/obj

lib-auframework.sdf

/src/c/openssl
/src/c/libtiff
/src/c/ogg
/src/c/vorbis
/src/c/geotiff

/src/c/geotiff__
/src/c/libtiff__
